<div class="card-container">
  <div class="pokemon" *ngFor="let currentPokemon of pokemonList">
    <div *ngIf="currentPokemon.art_url">
      <img [src]="currentPokemon.art_url" class="pokemon__image pokemon__image--small" />
      <div class="pokemon__number">N.° {{ currentPokemon.id }}</div>
      <div class="pokemon__name pokemon__name--bold">{{ currentPokemon.name }}</div>
      <div *ngIf="currentPokemon.weakness">
        <div>{{ titleYes }} - {{currentPokemon.weakness }} </div>
      </div>
    </div>
  </div>
</div>
