<div *ngIf="hayMensaje" class="pokemon__name pokemon__name--bold">{{mensaje}}</div>
<div>
    <h1>{{ importedText }}</h1>
</div>
<div>
    <button (click)="showWeakness()" class="button button3">Pokemon Weakness</button>
</div>
<pkd-hint 
    *ngIf="isVisible" 
    [description]="description1" 
    [image]="image"
    (onHide)="hideBanner($event)"
></pkd-hint>
<div class="text-left">
    Filtrar Pokemon: <input class="input" type="number" [(ngModel)]="InputPokemon">
    <button class="btn" (click)="findPokemon()">Buscar</button>
    <button class="btn btn--warning" (click)="cleanPokemon()">Limpiar</button>
</div> 
<div class="card-container">
    <div 
    class="pokemon" 
    *ngFor="let pokemon of pokemons"
    (click)="displayBanner(pokemon)"
    >
        <ng-container *ngIf="pokemon.art_url">
            <img [src]="pokemon.art_url" class="pokemon__image pokemon__image--small" />
            <div class="pokemon__number">{{ pokemon.id | numberPokemon:true }}</div>
            <div class="pokemon__name pokemon__name--bold">{{ pokemon.name | titlecase }}</div>
            <ng-container *ngIf="pokemon.types">
                <div class="">Type:</div>
                    <div class="pokemon__type">
                        <span [ngClass]="type" *ngFor="let type of pokemon.types">
                            {{ type }}
                        </span>
                    </div>
            </ng-container>
            <ng-container *ngIf="isWeaknessVisible">
                <div class="">Weak against:</div>
                    <div class="pokemon__type">
                        <span [ngClass]="weak" *ngFor="let weak of pokemon.weakness">
                            {{ weak }}
                        </span>
                    </div>
            </ng-container>
        </ng-container>
    </div>
</div>
<div *ngIf="false">
    <p class="pokemon__description">
        {{ description1 }}
    </p>
</div>