/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Baloo Thambi 2" !important;
  font-size: 15px;
  outline: none;
}
body {
  background: #fff url("./assets/img/body_bg.png");
}

input {
  line-height: 2.5rem;
  background: #fafafa;
  border-radius: 0.6rem;
  padding: 0 1rem;
  color: #666;
  border: 2px solid gray;
  margin: 1rem;

  &:focus {
    border: 2px solid black;
  }
}

.btn {
  background: #30a7d7;
  border: none;
  padding: 0.7rem 1.2rem;
  max-width: 16rem;
  width: 12rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  margin: 0.6rem;
  cursor: pointer;
  transition: background 0.3s linear;

  &:hover {
    background: #1b82b1;
  }

  &--success {
    background: #4dad5b;
    &:hover {
      background: #369143;
    }
  }

  &--warning {
    background: #ee6b2f;
    &:hover {
      background: #da471b;
    }
  }

  &--error {
    background: #e3350d;
    &:hover {
      background: #d1300c;
    }
  }
}

.pokemon {
  &__type {
    margin: 0.5rem 0;

    span {
      display: inline;
      margin: 0 0.5rem;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
    }

    .bug {
      background: #b97fc9;
      color: #fff;
    }
    .dragon {
      background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
      color: #fff;
    }
    .fairy {
      background: #fdb9e9;
    }
    .fire {
      background: #fd7d24;
      color: #fff;
    }
    .ghost {
      background: #7b62a3;
      color: #fff;
    }
    .ground {
      background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    }
    .normal {
      background: #a4acaf;
    }
    .psychic {
      background: #f366b9;
      color: #fff;
    }
    .steel {
      background: #9eb7b8;
    }
    .electric {
      background: #eed535;
    }
    .fighting {
      background: #d56723;
      color: #fff;
    }
    .flying {
      background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    }
    .grass {
      background: #9bcc50;
    }
    .ice {
      background: #51c4e7;
    }
    .poison {
      background: #b97fc9;
      color: #fff;
    }
    .rock {
      background: #a38c21;
      color: #fff;
    }
    .water {
      background: #4592c4;
      color: #fff;
    }
  }
}
