/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Baloo Thambi 2" !important;
  font-size: 15px;
  outline: none;
}
body {
  background: #fff url("./assets/img/body_bg.png");
}

input {
  line-height: 2.5rem;
  background: #fafafa;
  border-radius: 0.6rem;
  padding: 0 1rem;
  color: #666;
  border: 2px solid gray;
  margin: 1rem;

  &:focus {
    border: 2px solid black;
  }
}

.btn {
  background: #30a7d7;
  border: none;
  padding: 0.7rem 1.2rem;
  max-width: 16rem;
  width: 12rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  margin: 0.6rem;
  cursor: pointer;
  transition: background 0.3s linear;

  &:hover {
    background: #1b82b1;
  }

  &--success {
    background: #4dad5b;
    &:hover {
      background: #369143;
    }
  }

  &--warning {
    background: #ee6b2f;
    &:hover {
      background: #da471b;
    }
  }

  &--error {
    background: #e3350d;
    &:hover {
      background: #d1300c;
    }
  }
}

.pokedex {
  background: url('./assets/img/pokedex.svg') no-repeat;
  height: 3rem;
  width: 3rem;
}

.title {
  color: #fff;
  margin: 1rem;
  font-size: 3rem;
}

.panel {
  background: #313131;
  &--header {
    min-height: 5rem;
    display: flex;
    align-items: center;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}

.pokemon {
  position: relative;
  padding: 1rem;
  background: #fff;
  box-shadow: 0px 0px 3px 0px #ccc;
  border-radius: 0.2rem;
  transition: 0.5s;
  margin: 1.2rem;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url("./assets/img/back_bg.png");
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 0.2rem;
    transition: transform 0.5s;
  }

  &__image {
    background: #f2f2f2;
    border-radius: 0.5rem;

    &--small {
      max-width: 12rem;
    }
    &--medium {
      max-width: 18rem;
    }
    &--big {
      max-width: 24rem;
    }
  }

  &__number {
    color: #919191;
    font-weight: 500;
    margin: 0.1rem 0.4rem;
  }
  &__name {
    font-size: 1.5rem;
  }

  &__number,
  &__name {
    margin: 0.1rem 0.4rem;
  }

  &:hover {
    &:after {
      transform: rotate(10deg);
    }
  }
}
